<h2>University System</h2>
<div *ngIf="IsLogged">
    <button class="btn btn-secondary  float-right"  (click)="logout()">Logout</button> <br /><br />
</div>


<button class="medium" [ngClass]="['bkblack','large']" [routerLink]="['eager']">Eager</button> <br /><br />

<button class="medium" [ngClass]="['bkblack','large']" [routerLink]="['login']">Login</button> <br /><br />

<button class="medium" [ngClass]="['bkblack','large']" [routerLink]="['']">Home</button> <br /><br />
 
<button [ngClass]="'primary'" [routerLink]="['/admission']">Admisson</button>

<button [routerLink]="['examples']" [ngClass]="'primary'">Examples</button>

<router-outlet></router-outlet>