.primary {
    color:blue;
}
.secondary{
    color: yellow;
}
.Text-danger{
    color: red;
}
.white{
    color: white;
}
.bkRed{
    background-color:red;
}

.large {
    font-size: 23px;
}

.small {
    font-size: 5px;
}